<div class="page-header">
  <h1>Showing Person <%= @person.name %></h1>
</div>

<h2>Organizations</h2>

<div class="well">
  <% @person.organizations.each do |org| %>
    <li><%= org.name %></li>
  <% end %>
</div>
